* {
  font-family: "Gilroy", sans-serif;
}

*:not(.tooltip):not(.modal-console-props) {
  transition: 0.25s !important;
}
.hidden { display: none; }
*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;

  color: white;
}

table * {
  border: none !important;
}

.superHide {
  position: absolute;
  left: -2582px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -285;
}

/* Developed by Seeroy */

#content-preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#content-preloader .lds-spinner * {
  border-color: var(--bg-dark-accent-light) transparent transparent transparent;
}
.save-btn {
  background-color: #007bff;
  color: white;
}
.save-btn:hover {
  background-color: #0056b3;
}
.cancel-btn {
  background-color: #e5e5e5;
  color: black;
}
.save-btn:hover {
  background-color: #0056b3;
}
.delete-btn {
  background-color: #dc3545;
  color: white;
}
.delete-btn:hover { 
  background-color: #bd2130;
}
custom-dialog {
  .save-btn {
    background-color: #007bff;
    color: white;
  }
  .save-btn:hover {
    background-color: #0056b3;
  }
  .cancel-btn {
    background-color: #e5e5e5;
    color: black;
  }
  .save-btn:hover {
    background-color: #0056b3;
  }
  .delete-btn {
    background-color: #dc3545;
    color: white;
  }
  .delete-btn:hover { 
    background-color: #bd2130;
  }
}